@keyframes shapeLeftVisible {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-left: -20px;
  }
  
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shapeBottomVisible {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-bottom: -20px;
  }
  
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shapeTopVisible {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-top: -20px;
  }
  
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes shapeRightVisible {
  0% {
    opacity: 0;
    transform: scale(0.5);
    margin-right: -20px;
  }
  
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ripple {
  0% {
      transform: scale(0);
  }
  20% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}

@keyframes ripple-dup {
 0% {
     transform: scale(0);
  }
 30% {
      transform: scale(1);
  }
  60% {
      transform: scale(1);
  }
  100% {
      opacity: 0;
      transform: scale(1);
  }
}